<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie-edge">
    <meta name="description" content="enter your description here">
    <title>App Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="App.landing.page.css">
    <link rel="stylesheet" href="App.landing.pageresponsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="c:\Users\LENOVO\Downloads\themify-icons-font (1)\themify-icons\themify-icons.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/46/46114.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=IBM+Plex+Sans&display=swap"
        rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target="#navartext" data-bs-offset="0" class="navbar-nav" tabindex="0">
    <header>
        <nav class="navbar navbar-expand-md navbar-light navbar-wrapper">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-3" href="#">
                    <img src="https://cdn3.iconfinder.com/data/icons/sport-line-7/24/Archer_Sport_Target_Circle-512.png"
                        style="width: 40px;">
                    NESHOT
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto mb-2s mb-lg-0  text-start">
                        <a class="nav-link" href="#home">Home</a>
                        <a class="nav-link" href="#features">Features</a>
                        <a class="nav-link" href="#screenshot">Screenshots</a>
                        <a class="nav-link" href="#pricing">Pricing</a>
                        <a class="nav-link" href="#contact">Contact</a>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 mt-5">
                    <div class="home-text">
                        <h2>Present your app with <span class="text-uppercase">oneshot</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et dui id felis ullamcorper
                            congue. Proin dignissim eleifend metus, eget fermentum ipsum porta ut. Donec vel mattis
                            ipsum, at euismod tellus. Donec id eros sollicitudin, aliquam elit sit amet, aliquam ante.
                            Cras dictum eget velit at viverra. Suspendisse vehicula diam dolor, id vestibulum lacus
                            fermentum eget. Fusce libero ligula, fermentum quis lobortis quis, luctus at turpis. Vivamus
                            feugiat dapibus velit sed dapibus.</p>
                        <div>
                            <button class="main-btn mx-3 mt-2"><span class="ti-control-play px-1"></span>Play Store</button>
                            <button class="main-btn mx-3 mt-2"><span class="ti-apple px-1"></span>App Store</button>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="home-image">
                        <img src="https://www.pngmart.com/files/15/Apple-iPhone-11-PNG-Image.png" class="img-fluid">

                    </div>

                </div>

            </div>

        </div>

    </section>
    <section class="number-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div>
                        <h3>10M</h3>
                        <p>USERS</p>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-3">
                    <div>
                        <h3>20K</h3>
                        <p>DOWNLOAD</p>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-3">
                    <div>
                        <h3>30M</h3>
                        <p>CUSTOMER</p>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-3">
                    <div>
                        <h3>10K</h3>
                        <p>DEVELOPER</p>
                    </div>

    </section>
    <section class="cards">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="content">
                        <h1>Why do every people</h1>
                        <h4>love App-Mobile?</h4>
                        <p>Vivamus efficitur nec purus ac vulputate Contrary to popular belief, Lorem Ipsum is not
                            simply random text. It has roots in a piece of classical Latin literature from 45 BC, making
                            it . Cras vulputate nibh nulla, non pharetra velit ultricies in. Maecenas ac mi feugiat
                            velit facilisis pretium. </p>

                    </div>

                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 text-center">
                    <div class="" style="width: 18rem;">
                        <div class="single-promo-hover single-promo-1">
                            <div class="circle-icon"><span class="ti-heart-broken text-center"></span></div>
                            <div class="card-body">
                                <h5 class="card-title">CLEAN DESIGN</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 text-center secure">
                    <div class="" style="width: 18rem;">
                        <div class="single-promo-hover single-promo-1">
                            <div class="circle-icon"><span class="ti-lock text-center"></span></div>
                            <div class="card-body">
                                <h5 class="card-title">SECURE DATA</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 text-center retina">
                    <div class="" style="width: 18rem;">
                        <div class="single-promo-hover single-promo-1">
                            <div class="circle-icon"><span class="ti-panel text-center"></span></div>
                            <div class="card-body">
                                <h5 class="card-title">RETINA READY</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <section id="features">
        <div class="title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="feature-middle">
                            <h2>Our Special Features</h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going </p>

                        </div>

                    </div>
                    <div class=" col-lg-6 col-sm-12 col-md-6">
                        <div class="feature-img">
                            <img src="https://www.confused.com/-/media/confused/articles/mobile-phones/mobile-phone-usage-hero.jpg?la=en-gb&w=830&hash=55FC20E276CF07B08C931DE7CAA7751B"
                                class="img-fluid mt-5">
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="" style="width: 18rem;">
                        <div class="hover-effect">
                            <div class="icons p-2">
                                <span class="ti-bell"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="" style="width: 18rem;">
                        <div class="hover-effect">
                            <div class="icons p-2">
                                <span class="ti-hummer"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn">Go somewhere</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                        <div class="" style="width: 18rem;">
                            <div class="hover-effect">
                                <div class="icons p-2">
                                    <span class="ti-home"></span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                        <div class="" style="width: 18rem;">
                            <div class="hover-effect">
                                <div class="icons p-2">
                                    <span class="ti-info-alt"></span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn">Go somewhere</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                            <div class="" style="width: 18rem;">
                                <div class="hover-effect">
                                    <div class="icons p-2">
                                        <span class="ti-download"></span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                            <div class="" style="width: 18rem;">
                                <div class="hover-effect">
                                    <div class="icons p-2">
                                        <span class="ti-settings"></span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn">Go somewhere</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

    </section>
    <div id="screenshot">
        <section class="screens">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-center mt-5">
                        <div>
                            <h3>APP SCREENSHOTS</h3>
                            <p>Sed euismod sapien leo, rutrum viverra ipsum maximus sit amet. Suspendisse maximus enim
                                in porta varius. Ut at nisl velit. Vestibulum a augue nibh. Donec blandit libero
                                consectetur dui efficitur</p>
                        </div>

                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner text-center">
                                <div class="carousel-item active">
                                    <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphonex/iphone-x-and-later-take-screenshot.png"
                                        class=" img-fluid mx-3 mt-3" alt="screenshot">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphonex/iphone-x-and-later-take-screenshot.png"
                                        class=" img-fluid mx-3 mt-3" alt="screenshot">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://support.surfshark.com/hc/article_attachments/360023275680/anydevice13.png"
                                        class=" img-fluid" alt="screenshot mx-3 mt-3">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    </div>
    <section id="pricing">
        <div class="price-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="content-2">
                            <h3>Approdable Packages</h3>
                            <p class="px-5 pt-3">Pellentesque ante felis, semper at mollis non, porttitor in lectus.
                                Phasellus a dui id
                                Mauris vestibulum odio et magna
                                finibus consequat. In id hendrerit libero. Pellentesque lobortis id odio eu cursus.
                                Fusce mollis egestas elit. Sed vel nisl in justo venenatis varius.</p>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3 card-1">

                        <div class="text-center">
                            <div class="month">
                                Month

                            </div>
                            <h6 class="text-center mt-3">PREMIUM</h6>
                            <div class="card-icon text-center mt-1">
                                <span class="ti-medall"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">$<span class="fs-2">35</span></h5>
                                <p class="card-text text-center">
                                    the bulk of the card's content.Proin euismod hendrerit accumsan. Etiam bibendum
                                    dolor non viverra eleifend. Pellentesque vestibulum a nisi non aliquet. Nulla sit
                                    amet dui vel dui iaculis euismod. Cras ac quam mi. Curabitur ac nibh placerat,
                                    sollicitudin nunc quis, condimentum dolor. Praesent et libero nec elit pellentesque
                                    facilisis sit amet quis libero</p>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 card-2">

                        <div class="text-center mx-2">
                            <div class="month">
                                Month

                            </div>
                            <h6 class="text-center mt-3">BASIC</h6>
                            <div class="card-icon text-center mt-1">
                                <span class="ti-medall"></span>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center">$<span class="fs-2">55</span></h5>
                                <p class="card-text text-center">
                                    the bulk of the card's content.Proin euismod hendrerit accumsan. Etiam bibendum
                                    dolor non viverra eleifend. Pellentesque vestibulum a nisi non aliquet. Nulla sit
                                    amet dui vel dui iaculis euismod. Cras ac quam mi. Curabitur ac nibh placerat,
                                    sollicitudin nunc quis, condimentum dolor. Praesent et libero nec elit pellentesque
                                    facilisis sit amet quis libero</p>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 card-3 active">

                        <div class="text-center mx-2">
                            <div class="month">
                                Month

                            </div>
                            <h6 class="text-center mt-3">ADDICT</h6>
                            <div class="card-icon text-center mt-1">
                                <span class="ti-medall"></span>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center">$<span class="fs-2">75</span></h5>
                                <p class="card-text text-center">
                                    the bulk of the card's content.Proin euismod hendrerit accumsan. Etiam bibendum
                                    dolor non viverra eleifend. Pellentesque vestibulum a nisi non aliquet. Nulla sit
                                    amet dui vel dui iaculis euismod. Cras ac quam mi. Curabitur ac nibh placerat,
                                    sollicitudin nunc quis, condimentum dolor. Praesent et libero nec elit pellentesque
                                    facilisis sit amet quis libero</p>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 card-4">

                        <div class="text-center mx-2">
                            <div class="month">
                                Month

                            </div>
                            <h6 class="text-center mt-3">BUSINESS</h6>
                            <div class="card-icon text-center mt-1">
                                <span class="ti-medall"></span>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center">$<span class="fs-2">85</span></h5>
                                <p class="card-text text-center">
                                    the bulk of the card's content.Proin euismod hendrerit accumsan. Etiam bibendum
                                    dolor non viverra eleifend. Pellentesque vestibulum a nisi non aliquet. Nulla sit
                                    amet dui vel dui iaculis euismod. Cras ac quam mi. Curabitur ac nibh placerat,
                                    sollicitudin nunc quis, condimentum dolor. Praesent et libero nec elit pellentesque
                                    facilisis sit amet quis libero</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="notes text-center">
                        <h6 class="text-danger">LETS START CONVERSATION HERE!</h6>
                        <h2>CONTACT US</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 mt-4">
                    <h5 class="fs-4 fw-4 info text-danger">Contact info</h5>
                    <p>Lorem ipsum<span class="ti-pin p-1"></span></p>
                    <p>+92 889287376<span class="ti-mobile p-1"></span></p>
                    <p>waleeddogare@gmail.com<span class="ti-email p-1"></span></p>


                </div>

                <div class="col-sm-6 col-lg-6 offset-lg-1 mt-4">
                    <form>
                        <input type="text" alt="name" class="name w-100 p-1" placeholder="YOUR NAME" required="name">
                        <input type="text" alt="email" class="name w-100 p-1 mt-3" placeholder="EMAIL" required="name">
                        <input type="text" alt="message" class="name w-100 p-4 mt-3" placeholder="ENTER YOUR MESSAGE">
                        <button class="main-btn-2 mt-3">Send Message</button>
                    </form>

                </div>
            </div>
        </div>



    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 text-center pt-3">
                    <p>Copyright 2023 oneshot all rights reserved</p>
                    <p>Designed By Waleed Anwar</p>


                </div>

            </div>

        </div>
    </footer>
    












    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</body>